
.col-lg-5{
    height: 100vh;
    background: #fff;
    position: relative;
}
.loginForm{
    position: absolute;
    top: 50%;
    transform: translate(-25%, -50%);
    right: 0%;
    width: 60%;

}
.loginbackground{
    background-image:url('../../../assets/loginbg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.loginForm h2{
    font-size: 20px;
    margin-bottom: 30px;
    // color: #fff;

}