
<div class="loginPage changePassword">

    <div class="row " style="margin-right: 0; margin-left: 0;">
        <div class="col-lg-7 loginbackground"></div>
        <div class="col-lg-5">
            <div class="loginForm">
            <h2>
                <span>Your password has expired. Please update before continuing.</span>
            </h2>

            <div class="forms">
                <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit($event)">
                    <div class="form-group">
                        <input type="password" class="form-control" id="oldPassword" placeholder="Old password"
                            formControlName="oldPassword">
                        <div class="inputFieldWrapper">
                            <small class="form-text text-danger text-left msgtext"
                                *ngIf="changePasswordForm.controls.oldPassword.invalid && changePasswordForm.controls.oldPassword.touched  && changePasswordForm.controls.oldPassword.errors?.required">
                                Old password is required
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="newPassword" placeholder="New password"
                            formControlName="newPassword">
                        <div class="inputFieldWrapper">
                            <small class="form-text text-danger text-left msgtext"
                            *ngIf="changePasswordForm.controls.newPassword.invalid && changePasswordForm.controls.newPassword.touched">
                            {{getPasswordError()}}
                        </small>
                           
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="newPasswordConfirm"
                            placeholder="Confirm new password" formControlName="newPasswordConfirm">
                        <div class="inputFieldWrapper">
                            <small class="form-text text-danger text-left msgtext"
                            *ngIf="changePasswordForm.controls.newPasswordConfirm.invalid && changePasswordForm.controls.newPasswordConfirm.touched">
                            {{getConfirmPasswordError()}}
                        </small>
                            
                        </div>
                    </div>

                  
                    <button type="submit" class="btn btn-primary">SUBMIT</button>

                    <button (click)="cancel()" style="margin-left: 30px;" class="btn btn-danger">CANCEL</button>
                   
                </form>
            </div>

        </div>
    </div>

</div>


</div>